<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headr}}
    <title>Document</title>
</head>

<body class="backimg">
    {{>navbarlogin}}
    <div class="center container-md">
        <div >
            <div class="text-center rleft">
                <h1 class="align-items-center">RESOL-NET</h1>
                <p>
                    complain all wifi and lan problem @RESOL-NET
                </p>
            <a href="/secret" class="btn btn-outline-primary row rleft col-1">complain</a>
            </div>
        </div>
        {{!-- <a href="/secret">secret</a> --}}
    </div>
</body>
{{>footer}}

</html>